
.h-about{
    margin-bottom: 5%;
}

.separator {
    display: flex;
    align-items: center;
    text-align: center;
}
.separator::before, .separator::after {
    content: '';
    flex: 1;
    border-top: 3px solid #f0c300 ;
    border-top-width:5px;
    border-right-width:0px;
    border-bottom-width:0px;
    border-left-width:0px;
}
.separator::before {
    margin-right: .15em;
}
.separator::after {
    margin-left: .15em;
}
.border-custom{
    border: 3px #f0c300 !important;
    border-style: dotted !important;
    border-width: thick !important;
}
.like{
    width: 32px;
    height:32px;
}
.p-like{
    margin-top: 3%;
}
#nb-like{
    color:#01D758 ;
}
.like:hover{
    width:30px;
    height:30px;
    transition: 250ms;
}
.liste-carte{
    margin-top: 7%;
}
.carte{
    margin-bottom: 8%;
}

.container-titre{
    margin-top:3%;
    padding-top: 1%;
    margin-bottom:3%;
    border-radius:5px;
}

.carte{
    margin-bottom: 8%;
}

.container-titre{
    padding-top: 1%;
    margin-bottom:3%;
    border:1px solid black;
    border-radius:5px;
}
#about {
    margin-bottom: 3%;
}

.row-brown {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
    background-color: #473c38;
}

.btn-brown {
    color: #fff;
    background-color: #473c38;
    border-color: #473c38;
}
.btn-brown:hover {
    color: rgba(31, 119, 134, 0.788);
}

.vertical-scrollable> .row {
    overflow-y: auto;
    max-height: 36em;
}

.bg-ambre {
    background-color: #F0C300 !important;
}

.more-details-cat {
    position: absolute;
    right: 1px;
    top: 36px;
    color: rgba(33, 148, 177, 0.466);
}

.more-details-description {
    position: absolute;
    right: 16px;
}
.b-shadow{
    box-shadow: 0px 6px 20px -5px rgba(0,0,0,0.40);
}
.b-shadow:hover{
    box-shadow: 0px 6px 23px -5px rgba(0,0,0,0.75);
}

.container-titre{
    margin-top:3%;
    padding-top: 1%;
    margin-bottom:3%;
    border-radius:5px;
}

.carte{
    margin-bottom: 8%;
}

.container-titre{
    padding-top: 1%;
    margin-bottom:3%;
    border:1px solid black;
    border-radius:5px;
}
#about {
    margin-bottom: 3%;
}

.row-brown {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
    background-color: #473c38;
}

.btn-brown {
    color: #fff;
    background-color: #473c38;
    border-color: #473c38;
}
.btn-brown:hover {
    color: rgba(31, 119, 134, 0.788);
}

.vertical-scrollable> .row {
    overflow-y: auto;
    max-height: 36em;
}

.bg-ambre {
    background-color: #F0C300 !important;
}

.border-2{
    border-width: 2px !important;
}
.border-peche{
    border-color:#eda27c;
}
.border-marron{
    border-color:white;
}

.border-marron{
    border-color:#473c38;
}

.border-ambre{
    border-color:#F0C300 !important;
}
.border-ambre:hover{
    outline:#e99f00  2px !important;
    background-color:#e99f00 !important;
    transition: 250ms;
}
.b-hover:hover{
    border-color:#f0c300;
    border-width:2px;
    transition: 250ms linear;
}
.list-group-item.active{
    background-color: #F0C300 !important;
    border-color: #f0c300 !important;
}
.b-shadow2{
    box-shadow: 0px 6px 20px -5px rgba(0,0,0,0.40);
}
